<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>GetSingleClass</servlet-name>
    <servlet-class>szkola.class_package.GetSingleClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSingleClass</servlet-name>
    <url-pattern>/GetSingleClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Marks</servlet-name>
    <servlet-class>szkola.class_package.MarkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Marks</servlet-name>
    <url-pattern>/Marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Parents</servlet-name>
    <servlet-class>szkola.class_package.ParentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parents</servlet-name>
    <url-pattern>/Parents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classrooms</servlet-name>
    <servlet-class>szkola.class_package.ClassroomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classrooms</servlet-name>
    <url-pattern>/Classrooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Courses</servlet-name>
    <servlet-class>szkola.class_package.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Courses</servlet-name>
    <url-pattern>/Courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teachers</servlet-name>
    <servlet-class>szkola.class_package.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teachers</servlet-name>
    <url-pattern>/Teachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student</servlet-name>
    <servlet-class>szkola.class_package.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Fee</servlet-name>
    <servlet-class>szkola.class_package.FeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fee</servlet-name>
    <url-pattern>/Fee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Users</servlet-name>
    <servlet-class>szkola.class_package.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>szkola.class_package.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllClasses</servlet-name>
    <servlet-class>szkola.class_package.GetAllClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllClasses</servlet-name>
    <url-pattern>/GetAllClasses</url-pattern>
  </servlet-mapping>
</web-app>